<!DOCTYPE html>
<html class="" data-rem="375">
<head>
    <% include _blocks/head %>
    <title>demo</title>
    <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
    <% include _blocks/tongji %>
</head>
<style>
    /*.carousel-scroller {*/
        /*position: relative;*/
        /*font-size: 0;*/
        /*white-space:nowrap;*/
    /*}*/
</style>
<body>
    <h1>Hello TMT!</h1>
    <div class="test-slice"></div>
<script type="text/javascript" src="../js/vendor.js"></script>
<script src="../js/index.js"></script>
</body>
</html>
